@charset "UTF-8";

.DajangContainer {
	display: flex;
	align-items: stretch;
}

.navContainer {
    width: 200px; 
    border-right: 2px solid #ddd; 
    background-color: #f9f9f9;
    padding: 10px;
    max-width: 1200px;
	height: 1200px;
    
}

.navContainer .button {
	align-items: center;
	display: flex;
	justify-content: center;
}

.mainContainer {
    flex: 1;
    background-color: #f9f9f9;
    max-width: 1200px;
	height: 1200px;
    padding: 20px;
}

main {
    flex: 1; /*  */
    padding: 10px;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
	gap: 10px;
	line-height: 32px;
}

.pagination a {
	font-size: 20px;
	text-decoration: none;
	color: #2d336a;
	text-align: center;
	width: 30px;
	border-radius: 7px;
	transition-duration: 1.0s;
}

.pagination a:hover {
	background-color: #8089dd;
}

.mainContainer h1{
	font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


.dm-table{
	width: 100%;
    border-collapse: collapse;
}

.dm-table th, .dm-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    
}

.list .table {
	padding: 10px;
	border-radius: 3px;
	margin-right: 10px;
	border-bottom: 1px solid #ddd;
}

.navContainer button {
    background-color: #eaf7ff;
    border-radius: 3px;
    width: 45px;
    height: 30px;
    font-weight: bold; 
}

.buttonBox button {
    background-color: #eaf7ff;
    border-radius: 3px;
    width: 45px;
    height: 30px;
    font-weight: bold; 
}

.action-group button {
	border-top: 1px solid #ddd;
	margin-top: 15px;
	margin-bottom: 15px;
    background-color: #eaf7ff;
    border-radius: 3px;
    width: 50px;
    height: 30px;
    font-weight: bold; 
}

.search-group{
	display: flex;
	align-items: center;
	gap: 10px;
	height: 21px;
}

#inputBox {
	display: flex;
	align-items: center;
}

#buttonBox {
	display: flex;
	align-items: center;
}

#inputSelect{
	height: 21px;
}

#magnifierBtn{
	height: 21px;
}

#magnifierBtnIcon{
	height: 21px;
}

#serachInput{
	height: 21px;
}

