@font-face {
    font-family: 'Tenada';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

footer {
    background-color: #ececec;
    text-align: center;
    margin: 0 auto;
    font-family: 'Tenada', sans-serif;
}

.footerlogo-text {
    font-family: 'Tenada';
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-nav ul li {
    margin: 0 20px;
}

.footer-nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

p {
	color: #000;
    text-decoration: none;
    font-size: 16px;
}