@font-face {
    font-family: 'LogoFont';
    src:url('../resources/fonts/NicoMoji-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #000;
    color: #fff;
    font-family: Arial, 'LogoFont';
}


.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
    position: relative;
    margin: 0 auto;
}

.logo-text {
    font-family: 'LogoFont';
    font-size: 50px;
    color: #fff;
    display: flex;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin: 0 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


