body {
	display: block;
	margin: 0 auto;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    margin: 5% auto;
}

.image-container {
    position: relative;
    width: 48%;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.image-container h2 {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 36px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
}

.image-container h2 a {
	color: black; 
    text-decoration: none;	
}