<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompanyMapper">
	<resultMap type="Company" id="loginResultMap">
		<id		property="companyId"		column="COMPANY_ID"/>
		<result property="companyName" 	column="COMPANY_NAME"/>
	</resultMap>
	
	<resultMap type="Company" id="companyResultMap">
		<id		property="companyId"	column="COMPANY_ID"/>
		<result property="companyPw"	column="COMPANY_PW"/>
		<result property="companyName"	column="COMPANY_NAME"/>
		<result property="companyTax"	column="COMPANY_TAX_ID"/>
		<result property="ceoName"		column="CEO_NAME"/>
		<result property="companyAddress"	column="COMPANY_ADDRESS"/>
		<result property="companyEmail"	column="COMPANY_EMAIL"/>
		<result property="companyPhone"	column="COMPANY_PHONE"/>
		<result property="type"	column="TYPE"/>
	</resultMap>
	<insert id="insertCompany">
		INSERT INTO COMPANY
		VALUES(#{companyId}, #{companyName}, #{companyPw}, #{companyTax}, #{ceoName}
		, #{companyAddress}, #{companyEmail}, #{companyPhone}, DEFAULT)
		
	</insert>
	<select id="selectOneByLogin" resultMap="loginResultMap">
		SELECT * FROM COMPANY WHERE COMPANY_ID = #{companyId} AND COMPANY_PW =#{companyPw}
	</select>
	
	<select id="selectOneByEmail" resultMap="loginResultMap">
		SELECT * FROM COMPANY WHERE COMPANY_ID = #{companyId} AND COMPANY_EMAIL =#{companyEmail}
	</select>
	
	<select id="selectOneById" resultMap="companyResultMap">
		SELECT * FROM COMPANY WHERE COMPANY_ID = #{companyId}
	</select>
	<update id="updateCompany">
		UPDATE COMPANY SET COMPANY_TAX_ID=#{companyTax}, COMPANY_NAME=#{companyName}
		, CEO_NAME=#{ceoName}, COMPANY_PW=#{companyPw}, COMPANY_EMAIL=#{companyEmail}, 
		COMPANY_ADDRESS=#{companyAddress}, COMPANY_PHONE=#{companyPhone} 
		WHERE COMPANY_ID=#{companyId}
	</update>
</mapper>