<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="Dm2Mapper">
 	<resultMap type="TrendHive" id="TrendHiveDm">
	 	<id property="dmNo" column="DM_NO" />
	 	<result property="insertDmdate" column="INSERT_DMDATE" />
	 	<result property="insertDmtime" column="INSERT_DMTIME" />
	 	<result property="fileName" column="FILE_NAME" />
	 	<result property="fileRename" column="FILE_RENAME" />
	 	<result property="filePath" column="FILE_PATH" />
	 	<result property="dmContents" column="DM_CONTENTS" />
	 	<result property="userId" column="USER_ID" />
	 	<result property="companyName" column="COMPANY_NAME" />
 	</resultMap>
 	<insert id="sendDm">
 		INSERT INTO TrendHive
 		VALUES(#{obj.sendId}, #{obj.receiverId}, #{obj.dmContents}})
 	</insert>
 	<select id="getTrendHive" resultMap="TrendHiveDm2">
	    SELECT * FROM DM_TBL 
	    WHERE USER_ID = #{userId}
	    ORDER BY INSERT_DMDATE DESC 
	</select>
 	
 </mapper>