<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="Dm2Mapper">
 	<resultMap type="Dm" id="dmResultmap">
	 	<id 	property="dmNo" column="DM_NO" />
	 	<result property="insertDmdate" column="INSERT_DMDATE" />
	 	<result property="insertDmtime" column="INSERT_DMTIME" />
	 	<result property="fileName" column="FILE_NAME" />
	 	<result property="fileRename" column="FILE_RENAME" />
	 	<result property="filePath" column="FILE_PATH" />
	 	<result property="dmContents" column="DM_CONTENTS" />
	 	<result property="userId" column="USER_ID" />
	 	<result property="companyName" column="COMPANY_NAME" />
	 	<result property="sendId" column="SEND_ID" />
	 	<result property="receiveId" column="RECEIVE_ID" />
	 	<result property="sendTime" column="SEND_TIME" />
	 	<result property="dmSubject" column="DM_SUBJECT" />
	 	<result property="receiveTime" column="RECEIVE_TIME" />
 	</resultMap>
 	<insert id="sendDm">
 		INSERT INTO TrendHive
 		VALUES(#{obj.sendId}, #{obj.receiverId}, #{obj.dmContents}})
 	</insert>
 	<select id="getDmList" resultMap="dmResultmap">
	    SELECT * FROM DM
	    WHERE USER_ID = #{userId}
	    ORDER BY INSERT_DMDATE DESC 
	</select>
 	<insert id="deleteDmList">
	    DELETE FROM DM WHERE DM_NO = #{dmNo}
	</insert>
	<select id="selectOneByNo" resultMap="dmResultmap">
		SELECT * FROM DM WHERE DM_NO = #{dmNo}
	</select>
	<!-- <select id="selectTotalDm" resultType="dmResultmap">
        SELECT * FROM DM 
        WHERE SEND_ID = #{userId} OR receive_id = #{userId}
        ORDER BY SEND_TIME DESC
    </select>
    <select id="selectReceivedDm" resultType="dmResultmap">
        SELECT * FROM DM 
        WHERE RECEIVE_ID = #{userId}
        ORDER BY RECEIVE_TIME DESC
    </select> -->
 	
 </mapper>