<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">
	<resultMap type="Notice" id="noticeResultMap">
		<id 	property="noticeNo" 		column="NOTICE_NO"/>
		<result property="noticeTitle" 		column="NOTICE_TITLE"/>
		<result property="noticeContent" 	column="NOTICE_CONTENT"/>
		<result property="noticeWriter" 	column="NOTICE_WRITER"/>
		<result property="adminId"			column="ADMIN_ID"/>
		<result property="noticeYn" 		column="NOTICE_YN"/>
		<result property="insertDate"		column="INSERT_NOTICEDATE"/>
	</resultMap>
	<insert id="insertNotice">
		INSERT INTO NOTICE
		VALUES(SEQ_NOTICE_NO.NEXTVAL, #{noticeTitle}, #{noticeWriter}
		, #{noticeContent}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<select id="selectNoticeList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE WHERE NOTICE_YN = 'Y' ORDER BY NOTICE_NO DESC
	</select>
	<select id="selectList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE 
		WHERE NOTICE_YN = 'Y'
		ORDER BY NOTICE_NO DESC
	</select>
	<update id="updateNotice">
		UPDATE NOTICE
		SET NOTICE_TITLE = #{noticeTitle}
		, NOTICE_CONTENT = #{noticeContent}
		WHERE NOTICE_NO = #{noticeNo}
	</update>
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE
		WHERE NOTICE_YN = 'Y'
	</select>
	<select id="selectOneByNo" resultMap="noticeResultMap">
		SELECT * FROM NOTICE 
		WHERE NOTICE_NO = #{noticeNo}
		AND NOTICE_YN = 'Y'
	</select>
	<update id="deleteNotice">
		UPDATE NOTICE
		SET NOTICE_YN = 'N'
		WHERE NOTICE_NO = #{noticeNo}
	</update>
	<select id="getTotalCountBySearch" resultType="_int">
		SELECT COUNT(*) FROM NOTICE
		<where>
			<!-- 작성자로 검색하는 쿼리문 -->
			<if test="searchCondition == 'writer'">
				NOTICE_WRITER LIKE '%'||#{searchKeyword}||'%'
			</if>
			<!-- 제목으로 검색하는 쿼리문 -->
			<if test="searchCondition == 'title'">
			 	NOTICE_TITLE LIKE '%'||#{searchKeyword}||'%'
			</if>
			<!-- 내용으로 검색하는 쿼리문 -->
			<if test="searchCondition == 'content'">
				NOTICE_CONTENT LIKE '%'||#{searchKeyword}||'%'
			</if>
			<!-- 전체에서 검색하는 쿼리문 -->
			<if test="searchCondition == 'all'">
				NOTICE_WRITER LIKE '%'||#{searchKeyword}||'%' OR
				NOTICE_TITLE LIKE '%'||#{searchKeyword}||'%' OR
				NOTICE_CONTENT LIKE '%'||#{searchKeyword}||'%'
			</if>
			AND NOTICE_YN = 'Y'
		</where>
	</select>
</mapper>