<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- VO 만들어질 때마다 추가 -->
	<typeAliases>
		<typeAlias type="com.hive.trend.inflboard.model.vo.InflBoardVO" 	  alias="InflBoard"/>
		<typeAlias type="com.hive.trend.infl.domain.InflVO" 				  alias="Infl"/>
		<typeAlias type="com.hive.trend.company.domain.CompanyVO" 			  alias="Company"/>
		<typeAlias type="com.hive.trend.companyboard.model.vo.CompanyBoardVO" alias="CompanyBoard"/>
		<typeAlias type="com.hive.trend.dm2.model.vo.DmVO" 					  alias="Dm"/>
	</typeAliases>
	
	<!-- mapper.xml 만들어질 때마다 추가 -->
	<mappers>
		<mapper resource="mappers/inflboard-mapper.xml"/>
		<mapper resource="mappers/infl-mapper.xml"/>
		<mapper resource="mappers/company-mapper.xml"/>
		<mapper resource ="mappers/companyboard-mapper.xml"/>
		<mapper resource ="mappers/dm2-mapper.xml"/>
	</mappers>
</configuration>